<div class="container mb-2">
    <div class="row mb-1">
        <div class="col-4">
            <img class="logo img-responsive d-block" src="{$shop.logo}" alt="{$shop.name} {l s='logo' d='Shop.Theme.Global'}">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-justify">Aenean dignissim ante eu purus dictum, feugiat element erat luctus. Integer scelerisque, diam nec condimentum facilisis</p>
        </div>
    </div>
</div>